:root {
  font: 16px/145% 'Segoe UI', sans-serif;
  color: #20251f;
  background: #e8ecdf;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}
